<% provide(:title, 'Backend') %>
<h1>Listing blogs</h1>

<table id=table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Action</th>
    <th>Number of Comments</th>
    
  </tr>

<% @blogs.each do |blog| %>
  <tr>
    <td><%= blog.name %></td>
    <td><%= blog.description.html_safe %></td>	
	
	<td><%= link_to 'Show', backend_blog_path(blog)  %>
	<%= link_to 'Edit', edit_backend_blog_path(blog) %>	
	<%= link_to 'Destroy', backend_blog_path(blog), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    
	<td><h4><center><%= blog.blogcomments.count %></center></h4>
		<% end %>
	</td>	 
    
  </tr>  

</table>

<%= will_paginate @blogs %>  
<br />
<div id=content>
click to put a<h3><%= link_to 'New Blog', new_backend_blog_path %></h3>
</div>