<footer class="footer">
  
  <small>
    Website by 
	<a href="http://twitter.com/fransiscoditto">fransiscoditto</a>    
  </small>
  
  <nav>
    <ul>
	  <li><%= link_to "Music & Video", '/mv' %></li>
	  <li><%= link_to "Images", '/images' %></li>
	  <li><%= link_to "Posts", '/posts' %></li>
      <li><%= link_to "About", '/about' %></li>
      <li><%= link_to "Contact", '/contact' %></li>
    </ul>
  </nav>
</footer>