<div style="padding:15px;
  border-radius:0px;
  border:10px solid #000;color: #000;
  background-color:rgba(0,0,0,0.8);  
  font-family: georgia;
  font-weight: lighter;
  font-size: 20px;
  font-variant: normal;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  word-spacing: 2px;
  color: #000000;">

   <%= link_to "Music & Video | ", '/mv',id: "logo1" %>
   <%= link_to "Photos | ", '/photos',id: "logo1" %>
   <%= link_to "Blogs | ", '/blogs',id: "logo1" %>
   <%= link_to "About | ", '/about' ,id: "logo1"%>
   <%= link_to "Contact", '/contact' ,id: "logo1"%><br/>
   

   </div>